<link rel='stylesheet' href='/stylesheets/partials/leftbar.css' />
<script src="/socket.io/socket.io.js"></script>
<!-- <script type="text/javascript" src="/javascripts/friends-logic/chat.js"></script> -->
<script type="text/javascript" src="/javascripts/partials/leftbar.js"></script>
<!-- <script type="text/javascript" src="/javascripts/store/showfriends.js"></script> -->
<input type="hidden" id="storeId" value="{{storeId}}">
<input type="hidden" id="storeStatus" value="{{storeState}}">
<span id="jqueryVars" data-userid={{fb_user.id}} data-storeid={{storeId}} data-storestatus={{storeState}}>123</span>

<ul id="leftbar" class="side-nav fixed blue-grey lighten-3">
  {{#if leftbarImg}}
  <li>
    <div class="userView">
        <img id="leftbarImg" class="circle" src="{{leftbarImg}}">
        <h4 id="leftbarTitle" class="card-panel grey lighten-3">{{leftbarTitle}}</h4>
    </div>
  </li>
  {{/if}}
  {{# if leftbarAbout}}
    <li class="bold">
      <a id="aboutBtn" href="about/{{leftbarAbout}}"><i class="material-icons">details</i>About</a>
    </li>
  {{/if}}
  <li>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <a class="collapsible-header"><i class="material-icons">chat</i>Chat</a>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="accordion" id="chatArea">
            <!-- Customer service part -->
            <li class="chatBox">
              <div class="friendsId" style="display: none;">000000</div>
              <a class="collapsible-header chatCollapsible">
                <i class="material-icons" style="color: #009100;">tag_faces</i>Good fairy
                <span class="unreadMessages"></span>
              </a>
              <div class="collapsible-body">
                <form class="messageForm">
                  <div class="chatContent">
                  </div>
                  <div class="inputField">
                    <input type="text" class="messageInput" placeholder="Input message..."/>
                  </div>
                  <button class="btn waves-effect waves-light sendBtn" type="submit">
                    Send
                    <i class="material-icons right">send</i>
                  </button>
                </form>
              </div>
            </li>
            {{# each fb_user.friends}}
              <li class="chatBox">
                <div class="friendsId" style="display: none;">{{this.id}}</div>
                <a class="collapsible-header chatCollapsible">
                  <i class="material-icons">perm_identity</i>{{this.name}}
                  <span class="unreadMessages"></span>
                </a>
                <div class="collapsible-body">
                  <form class="chatMenuForm" data-friendsid = {{this.id}}>
                    <div class="chatMenu">
                      <button class="btn-floating btn waves-effect waves-light red right cyan darken-3">
                        <i class="material-icons">face</i>
                      </button>
                    </div>
                  </form>
                  <form class="messageForm">

                    <div class="chatContent">
                    </div>
                    <div class="inputField">
                      <input type="text" class="messageInput" placeholder="Input message..."/>
                    </div>
                    <button class="btn waves-effect waves-light sendBtn" type="submit">
                      Send
                      <i class="material-icons right">send</i>
                    </button>
                  </form>
                </div>
              </li>
            {{/ each}}
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>

<div id="consent" class="modal">
  <div class="modal-content">
    <h3>Shop together invitation</h3>
    <h5 id="modalP" style="color: #607d8b;"></h5>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat consentAccDec" data-accept=false>Decline</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat consentAccDec" data-accept=true>Accept</a>
  </div>
</div>

<div id="waiting" class="modal">
  <div class="modal-content">
    <h3 id="waitingHeader">Waiting for response</h3>
    <h5 id="waitingContent" style="color: #4caf50;"></h5>
    <div class="preloader-wrapper big active" id="waitingPreloader">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat center">Done</a>
  </div>
</div>
