<link rel='stylesheet' href='/stylesheets/partials/leftbar.css' />
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/friends-logic/chat.js"></script>
<script type="text/javascript" src="/javascripts/friends-logic/multi-shopping.js"></script>
<script type="text/javascript" src="/javascripts/partials/leftbar.js"></script>
<div id="jqueryVars" style="display:none;">
  <p id="idVar">{{fb_user.id}}</p>
</div>

<ul id="leftbar" class="side-nav fixed grey lighten-1">
  {{#if leftbarImg}}
  <li>
    <div class="userView">
        <img id="leftbarImg" class="circle" src="{{leftbarImg}}">
        <h4 id="leftbarTitle" class="card-panel grey lighten-3">{{leftbarTitle}}</h4>
    </div>
  </li>
  {{/if}}
  {{# if leftbarAbout}}
    <li class="bold">
      <a href="about/{{leftbarAbout}}"><i class="material-icons">details</i>About</a>
    </li>
  {{/if}}
  <li>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <a class="collapsible-header"><i class="material-icons">chat</i>Chat</a>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="accordion" id="chatArea">
            {{# each fb_user.friends}}
              <li class="chatBox">
                <div class="friendsId" style="display: none;">{{this.id}}</div>
                <a class="collapsible-header chatCollapsible">
                  <i class="material-icons">perm_identity</i>{{this.name}}
                  <span class="unreadMessages"></span>
                </a>
                <div class="collapsible-body">
                  <form class="chatMenuForm">
                    <div class="chatMenu">
                      <button class="btn-floating btn waves-effect waves-light red right orange accent-3">
                        <i class="material-icons">face</i>
                      </button>
                    </div>
                  </form>
                  <form class="messageForm">

                    <div class="chatContent">
                    </div>
                    <div class="inputField">
                      <input type="text" class="messageInput" placeholder="Input message..."/>
                    </div>
                    <button class="btn waves-effect waves-light sendBtn" type="submit">
                      Send
                      <i class="material-icons right">send</i>
                    </button>
                  </form>
                </div>
              </li>
            {{/ each}}
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
