<link rel='stylesheet' href='/stylesheets/index.css' />
<script type="text/javascript" src="/javascripts/index/index.js"></script>
<!-- <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();"></fb:login-button>
<div id="status"></div> -->

<div class="fullpage">
  <div class="block">
    {{# each stores}}
      {{#if this.available }}
      <div class="indexStore" style="background-image: url('{{this.coverImagePath}}')"
      data-indexval={{@index}} data-content={{this.contentImagePath}} data-link={{this._id}}>
      </div>
      {{else}}
      <div class="indexStore" style="background-image: url('/images/stores/empty-1.jpg')"
      data-indexval={{@index}} data-content="/images/stores/empty-1.jpg" data-link="">
      </div>
      {{/if}}
    {{/each}}
    <div class="highlight" data-link="">

    </div>
  </div>
</div>
