<link rel='stylesheet' href='/stylesheets/index.css' />
<script type="text/javascript" src="/javascripts/index/index.js"></script>
<script type="text/javascript">
    history.pushState("", document.title, window.location.pathname);
</script>
<div class="fixed-action-btn center">
    <a class="btn-floating btn-large blue">
      <i class="large "><img src="/images/elevator_icon.png" class='elevator_icon'></i>
    </a>
    <ul>
      <form action = "" method = "post" style="display: none;">
        <input type="submit" name="level" id="firstFloorBtn" value="1"/>
        <input type="submit" name="level" id="secondFloorBtn" value="2"/>
        <input type="submit" name="level" id="thirdFloorBtn" value="3"/>
        <input type="submit" name="level" id="fourthFloorBtn" value="4"/>
        <input type="submit" name="level" id="fifthFloorBtn" value="5"/>
      </form>
      <li><a id="floor5Btn" class="floorBtn btn-floating red" data-floor=5 onclick="document.getElementById('fifthFloorBtn').click();">5</a></li>
      <li><a id="floor4Btn" class="floorBtn btn-floating yellow darken-1" data-floor=4 onclick="document.getElementById('fourthFloorBtn').click();">4</a></li>
      <li><a id="floor3Btn" class="floorBtn btn-floating green" data-floor=3 onclick="document.getElementById('thirdFloorBtn').click();">3</a></li>
      <li><a id="floor2Btn" class="floorBtn btn-floating blue" data-floor=2 onclick="document.getElementById('secondFloorBtn').click();">2</a></li>
      <li><a id="floor1Btn" class="floorBtn btn-floating grey darken-1" data-floor=1 onclick="document.getElementById('firstFloorBtn').click();">1</a></li>
    </ul>
</div>
{{# if storesA}}
<div class="page-wrapper">
  <div class="main-box boxA" >
    {{# each storesA}}
      {{#if this.detail.owner }}
      <div class="indexStore partA" style="background-image: url('{{this.detail.coverImage}}')"
      data-indexval={{@index}} data-part={{this.status.area}} data-content={{this.detail.contentImage}} data-link={{this._id}}>
      </div>
      {{else}}
      <div class="indexStore partA" style="background-image: url('/images/stores/empty-1.jpg')"
      data-indexval={{@index}} data-part={{this.status.area}}  data-content="/images/stores/empty-1.jpg" data-link="">
      </div>
      {{/if}}
    {{/each}}
    <div class="highlight" data-link="">

    </div>
  </div>
</div>
{{/if}}
{{# if storesB}}
<div class="page-wrapper">
  <div class="main-box boxB" >
    {{# each storesB}}
      {{#if this.detail.owner }}
      <div class="indexStore partB" style="background-image: url('{{this.detail.coverImage}}')"
      data-indexval={{@index}} data-part={{this.status.area}} data-content={{this.detail.contentImage}} data-link={{this._id}}>
      </div>
      {{else}}
      <div class="indexStore partB" style="background-image: url('/images/stores/empty-1.jpg')"
      data-indexval={{@index}} data-part={{this.status.area}}  data-content="/images/stores/empty-1.jpg" data-link="">
      </div>
      {{/if}}
    {{/each}}
    <div class="highlight" data-link="">

    </div>
  </div>
</div>
{{/if}}

{{# if storesC}}
<div class="page-wrapper">
  <div class="main-box boxC" >
    {{# each storesC}}
      {{#if this.detail.owner }}
      <div class="indexStore partC" style="background-image: url('{{this.detail.coverImage}}')"
      data-indexval={{@index}} data-part={{this.status.area}} data-content={{this.detail.contentImage}} data-link={{this._id}}>
      </div>
      {{else}}
      <div class="indexStore partC" style="background-image: url('/images/stores/empty-1.jpg')"
      data-indexval={{@index}} data-part={{this.status.area}}  data-content="/images/stores/empty-1.jpg" data-link="">
      </div>
      {{/if}}
    {{/each}}
    <div class="highlight" data-link="">

    </div>
  </div>
</div>
{{/if}}
