<link rel='stylesheet' href='/stylesheets/index.css' />
<script type="text/javascript" src="/javascripts/purchase/purchase.js"></script>
<div class="fullpage">
  <div class="block">
    {{# each stores}}
      {{#if this.detail.owner }}
      <div class="indexStore" style="background-image: url('{{this.detail.coverImage}}')"
      data-indexval={{@index}} data-content={{this.contentImagePath}}>
      </div>
      {{else}}
      <div class="indexStore" style="background-image: url('/images/stores/empty-1.jpg')"
      data-indexval={{@index}} data-content="/images/stores/empty-1.jpg">
      <label for="first_name" class="priceLabel"> {{this.status.price}} </label>
      <a class="waves-effect waves-light btn" href="/store/rent/{{this._id}}">PURCHASE!</a>
      </div>
      {{/if}}
    {{/each}}
  </div>
</div>
